/*Project 2 styles*/

body{
	font-family: Arial;
}

svg {
	/*cursor: pointer;*/
}

#description {
	background-color: pink;
}

#map1 {
	float: left;
	height: 600px;
	width: 1000px;
}

#control-panel {
	float: left;
}

.color-key {
	background-color: grey;
	border: solid 1px #d7d7d7;
	display: inline-block;
	height: 20px;
	margin-bottom: 3px;
	width: 30px;
}

#color-key1 {
	background-color: #EDF8FB;
}

#color-key2 {
	background-color: #BFD3E6;
}

#color-key3 {
	background-color: #9EBCDA;
}

#color-key4 {
	background-color: #8C96C6;
}

#color-key5 {
	background-color: #8856A7;
}

#color-key6 {
	background-color: #810F7C;
}

#color-key-no-data {
	background-color: #efefef;
}

.key-text {
	line-height: 20px;
}

.active-state {
	stroke: red !important;
	fill: red !important;
}